.clicked{
    color:red;
    text-decoration: line-through;
}
/*centered everything */
body{
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* made the bullets stick to the items but idk why its not centered properly*/
#arrayList{
    list-style: inside;
}